In [1]:
import json
import requests
import json
import re
import time
import pandas as pd
import os

In [2]:
# Set the request parameters
#url = 'https://wisau.zendesk.com/api/v2/users.json'
headers= {"Authorization" : "Bearer 2a7231020a314f02614a01d5f9ee3b2d4b803704c89baf75288ba85865574fe5"}
# Do the HTTP get request
#response = requests.get(url, headers=headers)

In [3]:
#Create a list and initialize session request
data_set = []
data_set1=[]
session = requests.Session()

In [4]:
# Set the request parameters
url = 'https://wisau.zendesk.com/api/v2/users.json'
url1 ='https://wisau.zendesk.com/api/v2/tickets.json'
#response = requests.get(url, headers=headers)
#data = response.json()

In [5]:
#To capture all the records, create a while loop, stash the page data incrementally in a variable, and get the 'next_page' url (in bold):
while url:
    response = session.get(url, headers=headers)
    data = response.json()
    data_set.extend(data['users'])
    url = data['next_page']

In [7]:
#To capture all the records, create a while loop, stash the page data incrementally in a variable, and get the 'next_page' url (in bold):
while url1:
    response1 = session.get(url1, headers=headers)
    data1 = response1.json()
    data_set1.extend(data1['tickets'])
    url1 = data1['next_page']

In [8]:
#When you reach the rate limit, the API responds with a HTTP 429 Too Many Requests response code. 
#The response has a Retry-After header that tells you how many seconds to wait before retrying.
if response.status_code == 429:
        print('Rate limited! Please wait.')
        time.sleep(int(response.headers['retry-after']))
        exit()
 # Check for HTTP codes other than 200
if response.status_code != 200:
    print('Status:', response.status_code, 'Problem with the request. Exiting.')
    exit()

In [9]:
#Export the list in text file(Json  format)
with open('data_set.txt', 'w') as outfile:
    json.dump(data_set, outfile)

In [9]:
#Export the list in text file(List format) 
#with open('listfile.txt', 'w') as filehandle:
    #for listitem in data_set:
        #filehandle.write('%s\n' % listitem)

In [10]:
with open('data_set1.txt', 'w') as outfile:
    json.dump(data_set1, outfile)

In [ ]:
#print(data_set1)

In [18]:
#Serializing a data structure means translating it into a format that can be stored and then reconstructed later in the same environment. 
#In Python, you can use the built-in pickle module to serialize and deserialize a data structure.
#import pickle
#with open('my_serialized_data_file.p', mode='wb') as f:
    #pickle.dump(data_set, f)

In [11]:
users_data = pd.DataFrame(data_set, columns=['id','name','created_at','updated_at','email','role','organization_id'])

In [12]:
users_data1 = pd.DataFrame(data_set1, columns=['id','type','subject','description','priority','status','requester_id','submitter_id','assignee_id','organization_id','group_id','tags','custom_fields','fields','ticket_form_id','brand_id','allow_attachments'])

In [13]:
users_data1.head(5)

,id,type,subject,description,priority,status,requester_id,submitter_id,assignee_id,organization_id,group_id,tags,custom_fields,fields,ticket_form_id,brand_id,allow_attachments
0,2,incident,Vendor Part No. XYZ,Ladder 12 ft Aluminium,normal,closed,116385577752,116385577752,3.604694e+11,1.149649e+11,1.140959e+11,"[marketing_text_loaded_in_iice__9_, not_applic...","[{'id': 114102485152, 'value': None}, {'id': 1...","[{'id': 114102485152, 'value': None}, {'id': 1...",114094011571,114095110812,True
1,7,task,Test 1 Subject,aSDADD,normal,closed,116410595652,116385577752,3.604694e+11,1.149649e+11,1.140959e+11,"[not_applicable, part_creation_completed, safe...","[{'id': 114102485152, 'value': 'ABC123 VPN'}, ...","[{'id': 114102485152, 'value': 'ABC123 VPN'}, ...",114094011571,114095110812,True
2,14,task,Add Alternates for Various Parts,Add Alternates for Various Parts,normal,closed,116385577752,116385577752,3.831312e+11,1.149649e+11,1.140958e+11,"[alternate_part_1, change, not_applicable, par...","[{'id': 114102485152, 'value': 'Various'}, {'i...","[{'id': 114102485152, 'value': 'Various'}, {'i...",114094011571,114095110812,True
3,85,incident,ABCfd,aghgs,high,pending,360470912891,360470912891,NaN,NaN,1.140958e+11,"[i___t_power___tools, marketing_text_loaded_in...","[{'id': 114102485152, 'value': None}, {'id': 1...","[{'id': 114102485152, 'value': None}, {'id': 1...",114094011571,114095110812,True
4,2031,None,None,"Hi,\n\nCould you please set up as a new lines,...",urgent,closed,360769563552,360769563552,3.604694e+11,1.149649e+11,1.140959e+11,"[not_applicable, part_creation_completed, safe...","[{'id': 114102485152, 'value': None}, {'id': 1...","[{'id': 114102485152, 'value': None}, {'id': 1...",114094011571,114095110812,True

In [14]:
users_data.head(5)

,id,name,created_at,updated_at,email,role,organization_id
0,116385577752,Anish,2017-12-05T05:48:58Z,2018-03-23T04:22:43Z,anish.mathur@wisau.com.au,end-user,1.149649e+11
1,116387412352,Sample customer,2017-12-05T05:49:03Z,2018-03-12T00:04:10Z,customer@example.com,end-user,NaN
2,116410595652,Anish Mathur 2,2017-12-07T05:57:29Z,2019-02-12T03:26:58Z,anishmathursydney@gmail.com,agent,1.149649e+11
3,116423619831,Christuraj Irudayasamy,2017-12-08T00:20:50Z,2019-09-26T23:39:45Z,christuraj.irudayasamy@blackwoods.com.au,admin,3.600519e+11
4,116497542151,Ninad Mokhariwale,2017-12-13T21:27:46Z,2019-10-20T22:06:13Z,ninad.mokhariwale@blackwoods.com.au,agent,3.606885e+11

In [ ]:
#merged_df = pd.merge(posts_df, users_df, how='left', left_on='author_id', right_on='id')
#users_df = pd.DataFrame(topic['users'],columns=['id', 'name']).drop_duplicates(subset=['id'])
#merged_df.to_excel('topic_posts.xlsx', index=False)
#print('Spreadsheet saved.')

In [13]:
users_data1.dtypes

id             int64
name          object
created_at    object
dtype: object

In [25]:
type(data1)

dict

In [15]:
# We import the pyodbc module which gives us the ability and functionality to transfer data straight into Microsoft SQL Server
import pyodbc

In [16]:

cnxn = pyodbc.connect(DRIVER='{SQL Server Native Client 11.0}',SERVER='LT-5CG7345MDZ\SQLExpress',DATABASE='Zendesk',trusted_connection='yes')

In [73]:
# After a connection is established, we write out the data storage commands to send to Microsoft SQL Server
#def save_api_log(name, created_at):
#    try:
#        #response_partial_approval = response_partial_approval.replace("'","''")
#       #cnxn = pyodbc.connect(connection_string)        
#        cursor = cnxn.cursor()
#        sqlinsert =f"INSERT INTO [dbo].[ORGS]([name],[created_at]) VALUES('{name}','{created_at}')"
# print(sqlinsert)
#        cursor.execute(sqlinsert)
#        cursor.commit()
# 
#    except Exception as e:     
#        print("Error {}".format(e))

In [74]:
#To itrate through each row in the datatframe to store values in each row
#for index, row in users_data1.head().iterrows():
 #   save_api_log(row['name'], row['created_at'])
  #  #print(index, row["id"])

In [33]:
# After a connection is established, we create tables in Microsoft SQL Server
cursor11 = cnxn.cursor()
connection_string1 = "CREATE TABLE Users1(id bigint,name varchar(max),created_at datetime, updated_at datetime, email nvarchar(max), role varchar(max), organization_id nvarchar(max))"
cursor11.execute(connection_string1)
cursor11.commit()

In [36]:
# After table connection, we write out the data storage commands to send to Microsoft SQL Server
def save_api_log1(id,name,created_at,updated_at,email,role,organization_id):
    try:
        #response_partial_approval = response_partial_approval.replace("'","''")
        #cnxn = pyodbc.connect(connection_string)        
        cursor = cnxn.cursor()
        sqlinsert =f"INSERT INTO Zendesk.dbo.Users1 ([id ],[name] ,[created_at],[updated_at],[email],[role],[organization_id]) VALUES('{id}','{name}','{created_at}','{updated_at}','{email}','{role}','{organization_id}')"
# print(sqlinsert)
        cursor.execute(sqlinsert)
        cursor.commit()
 
    except Exception as e:     
        print("Error {}".format(e))

In [38]:
#To itrate through each row in the datatframe to store values in each row
for index, row in users_data.iterrows():
    save_api_log1(row['id'], row['name'], row['created_at'], row['updated_at'], row['email'], row['role'], row['organization_id'])
    #print(index, row["id"])

Error ('42000', "[42000] [Microsoft][SQL Server Native Client 11.0][SQL Server]Incorrect syntax near 'Connor'. (102) (SQLExecDirectW); [42000] [Microsoft][SQL Server Native Client 11.0][SQL Server]The label 'T23' has already been declared. Label names must be unique within a query batch or stored procedure. (132)")
Error ('42000', "[42000] [Microsoft][SQL Server Native Client 11.0][SQL Server]Incorrect syntax near 'Hearn'. (102) (SQLExecDirectW); [42000] [Microsoft][SQL Server Native Client 11.0][SQL Server]The label 'T00' has already been declared. Label names must be unique within a query batch or stored procedure. (132)")
Error ('42000', "[42000] [Microsoft][SQL Server Native Client 11.0][SQL Server]Incorrect syntax near 'Neill'. (102) (SQLExecDirectW)")
Error ('42000', "[42000] [Microsoft][SQL Server Native Client 11.0][SQL Server]Incorrect syntax near 'Halloran'. (102) (SQLExecDirectW); [42000] [Microsoft][SQL Server Native Client 11.0][SQL Server]Unclosed quotation mark after the character string ')'. (105)")
Error ('42000', "[42000] [Microsoft][SQL Server Native Client 11.0][SQL Server]Incorrect syntax near 'Angelo'. (102) (SQLExecDirectW)")
Error ('42000', "[42000] [Microsoft][SQL Server Native Client 11.0][SQL Server]Incorrect syntax near 'Brien'. (102) (SQLExecDirectW)")